html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}
body{
}
.main{
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2%;
}
#logo{
	position: absolute;
	width: 100%;
	left:0;
}
#logo-img{
	width: 10%;
}
.inlineBlock{
	display: inline-block;
}
#contacts{
	color: white;
	font-size: 18px;
	position: relative;
}
#linkToMail{
	color: white;
	text-decoration: none;
	border-bottom: 1px dotted white;
	font-size: 14px;
}
footer{
	position: absolute;
	left:0;
	width: 100%;
	bottom: 10px
}
.posRelative{
	position: relative;
}
.wpcf7-submit,
.but-req-main{
	background: linear-gradient(to bottom, #fd8c53, #ff7741);
	border: 1px solid #ff7741;
	border-radius: 5px;
	color: #000000;
	font-size: 12px;
	padding: 5px 10px;
}
.but-req-main{
	box-shadow: 5px 5px 20px 0px;
}
.myinput{
	height: 25px;
}
.formItems{
	margin-bottom: 10px;
}
.displayNone{
	display: none;
}
.showMsg{
	position: absolute;
	margin: auto;
	width: 300px;
	text-align: center;
	left:35%;
}
.wpcf7-mail-sent-ok{
	display: none;
}
